Broker/ws_ach_realiza_transferencia/ws_ach_realiza_transferencia/ws_ach_valida_parametros_emp.xsd

<?xml version="1.0" encoding="UTF-8"?><!--File ws_ach_valida_parametros_emp_InlineSchema1.xsd, application ws_ach_valida_parametros_emp--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws_ach_valida_parametros_emp" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ws_ach_valida_parametros_emp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <xsd:element ibmSchExtn:docRoot="true" name="valida_maximo_montos_emp" type="tns:valida_maximo_montos_emp_request_type"/>
  <xsd:element ibmSchExtn:docRoot="true" name="valida_maximo_montos_empResponse" type="tns:valida_maximo_montos_emp_response_type"/>
  <xsd:complexType name="valida_maximo_montos_emp_request_type">
    <xsd:sequence>
      <xsd:element name="datos" type="tns:datos_entrada"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="valida_maximo_montos_emp_response_type">
    <xsd:sequence>
      <xsd:element name="resultado" type="tns:resultado"/>
      <xsd:element name="datos" type="tns:datos_salida"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resultado">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="datos_salida">
    <xsd:sequence>
      <xsd:element name="token" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="datos_entrada">
    <xsd:sequence>
      <xsd:element name="mis" type="xsd:string"/>
      <xsd:element name="monto" type="xsd:string"/>
      <xsd:element name="moneda" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>