Broker/ws_ach_realiza_transferencia/ws_ach_realiza_transferencia/ws_ach_realiza_transferencia_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws_ach_realiza_transferencia" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ws_ach_realiza_transferencia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true"
      	name="realizar_transferncia"
      	type="tns:realizar_transferenciaRequest">

      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true"
      	name="realizar_transfernciaResponse"
      	type="tns:realizar_transferenciaResponse">

      </xsd:element>

      <xsd:complexType name="realizar_transferenciaRequest">
      	<xsd:sequence>
      		<xsd:element name="data" type="tns:data_realizar_transferencia"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="realizar_transferenciaResponse">
      	<xsd:sequence>
      		<xsd:element name="resultado" type="tns:resultado"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
    <xsd:complexType name="data_realizar_transferencia">
    	<xsd:sequence>
    		<xsd:element name="OriginatorIdentification"
    			type="xsd:string">
    		</xsd:element>
    		<xsd:element name="ParticipantName" type="xsd:string"></xsd:element>
    		<xsd:element name="ParticipantIdentification"
    			type="xsd:string">
    		</xsd:element>
    		<xsd:element name="FinancialInstitutionIdentification"
    			type="xsd:string">
    		</xsd:element>
    		<xsd:element name="AccountNumber" type="xsd:string"></xsd:element>
    		<xsd:element name="AccountType" type="xsd:string"></xsd:element>
    		<xsd:element name="Amount" type="xsd:decimal"></xsd:element>
    		<xsd:element name="TransactionType" type="xsd:string"></xsd:element>
    		<xsd:element name="OriginAccountNumber" type="xsd:string"></xsd:element>
    		<xsd:element name="OriginAccountType" type="xsd:string"></xsd:element>

    		<xsd:element name="TransactionProcessing"
    			type="xsd:string">
    		</xsd:element>
    		<xsd:element name="AccountStandard" type="xsd:string"></xsd:element>
    		<xsd:element name="Description" type="xsd:string"></xsd:element>
    		<xsd:element name="inst_financiera" type="xsd:string"></xsd:element>
    		<xsd:element name="nom_cta_dest" type="xsd:string"></xsd:element>
    		<xsd:element name="moneda" type="xsd:string"></xsd:element>

    		<xsd:element name="tipo_usuario" type="xsd:string"></xsd:element>
    		<xsd:element name="canal" type="xsd:string"></xsd:element>
    		<xsd:element name="ip" type="xsd:string"></xsd:element>


    		<xsd:element name="mis" type="xsd:string"></xsd:element>
    		<xsd:element name="masivo" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="resultado">
    	<xsd:sequence>
    		<xsd:element name="codigo" type="xsd:string"></xsd:element>
    		<xsd:element name="descripcion" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>